# Archieve
Archieve/

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

# github action result
semicolon_delimited_script
Mohamed_Ezzat_Resume.synctex.gz
Mohamed_Ezzat_Resume.fdb_latexmk
